<ul class="dropdown-menu">
  <li class="dropdown chooseCategory" data-category="greeting" ><a href="#">Greeting</a></li>
  <li class="dropdown chooseCategory" data-category="hurryUp" ><a href="#">Hurry Up</a></li>
  <li class="dropdown chooseCategory" data-category="soundsGood" ><a href="#">Sounds Good</a></li>
  <li class="dropdown chooseCategory" data-category="buyTime" ><a href="#">Buy Time</a></li>
  <li class="dropdown chooseCategory" data-category="deflectResponsibility" ><a href="#">Deflect Responsibility</a></li>
  <li class="dropdown chooseCategory" data-category="whatsUp" ><a href="#">What's Up?</a></li>
  <li class="dropdown chooseCategory" data-category="farewell" ><a href="#">Farewell</a></li>						      
</ul>