p {
	margin-bottom: 0;
}
/*div.container {
	padding: 0;
	margin: 0;
}*/

.navbar {
	background-color: #ff87a7;
}
.navbar-default .navbar-brand{
	color: #fff;
}
.well{
	margin-bottom: 1px;
}
.wellbuttons{
	padding-bottom: 10px;
}
body {
	/*background-color: red;*/
}
.container {
	/*background-color: yellow;*/
}