p {
	margin-bottom: 0;
}
/*div.container {
	padding: 0;
	margin: 0;
}*/
.sampleS {
	color: #777777;
	font-style: italic;
}
.navbar {
	background-color: #ff87a7;
}
.navbar-default .navbar-brand{
	color: #fff;
	padding-left: 40px;
	font-size: 26px;
}
.well{
	margin-bottom: 1px;
}
.wellbuttons{
	padding-bottom: 10px;
}
body {
	/*background-color: red;*/
}
.container {
	/*background-color: yellow;*/
}